
.dnd5e.sheet.actor .inventory-list .tool .item-name .item-image {
    flex: 0 0 30px;
    background-size: 30px;
    margin-right: 5px;
    align-self: stretch;
    background-repeat: no-repeat;
    background-position: center;
}


.dnd5e.sheet.actor .inventory-list .tool .item-name h4 {
    text-overflow: ellipsis;
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}

.dnd5e.sheet.actor .inventory-list .tool {
    line-height: 30px;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
}